
body {

  background-color: rgba(164,255,220,15%);
}


h1 {

  width: fit-content;

  padding: 10px;
  position: absolute;


  font-family: Open Sans;
  font-size: 40px;
  font-weight: 900;
  
  top: 115px;
  left: 420px;
}

h2 {

  margin: auto;
  font-size: 30px;
  font-weight: bold;
}


#pick {

  background-color: #A4FFDC;

  margin: auto;
  display: flex;
  align-items: center;

  margin-top: 100px;

  width: fit-content;
  height: 700px;

  box-shadow: 5px 10px 10px #007146;

}

#pick > div {

  display: flex;
  float: left;

  position: relative;

  width: 450px;
  height: 450px;

  margin: 10px;
  padding: 5px

}

div > p:nth-child(1n){

  position: absolute;
  font-size: 20px;
  font-family: Quicksand;
  font-weight: 500;

  border-radius: 30px;
  width: 150px;

  background-color: #FFD59A;

  top: -30px;
  left: 150px;

  box-shadow: 1px 2px 2px #A73400;

}

div > p:nth-child(2){

  position: absolute;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: bolder;
  
  width: 400px;
  height: fit-content;
  padding-bottom: 10px;

  top: 465px;
  left: 20px;

}

div > p:nth-child(3n) {

  position: absolute;
  text-align: center;
  font-family: Quicksand;


  width: 200px;
  height: fit-content;
  padding: 10px;

  font-size: 18px;
  font-weight: 600;

  top: 525px;
  left: 110px;
}


p {
  
  padding-top: 10px;

  width: 325px;
  height: 35px;

  text-align: center;

  top: 475px;
  left: 0px;
  bottom: 0;
  right: 100px;

}

img {

  display: flex;
  align-self: center;

  max-width: 85%;
  max-height: 85%;

  margin-left: 30px;

  border: 1px solid #BFBFBF;
  background-color: #f1efef;
  box-shadow: 10px 10px 5px #007146;

}

img:hover {

  transition: 0.5s;
  box-shadow: 20px 20px 15px #FF0044;

}



#clicks {

  width: fit-content;
  position: relative;
  margin-top: 100px;
  left: 35%;
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 50px;

}

#chart {

  position: relative;
  max-width: 65%;
  margin-left: 15%;
  padding-bottom: 100px;

}
