* {
  /* outline: red dashed  1px; */
}

h1 {
  /* outline: chocolate dashed 2px; */

  width: fit-content;

  padding: 10px;
  align-self: flex-start;

  font-size: 30px;
  font-weight: 900;

  position: absolute;
  
  top: 135px;
  left: 35%;
}

h2 {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}


#pick {
  /* outline: yellowgreen dashed 2px; */

  margin: auto;
  display: flex;
  align-items: center;

  margin-top: 100px;

  width: fit-content;
  height: 700px;

}

#pick > div {
  display: flex;
  float: left;

  /* outline: purple dashed 1px; */
  position: relative;

  width: 450px;
  height: 450px;

  margin: 10px;
  padding: 5px

}

p {
  /* outline: blue dashed 1px; */

  width: 325px;
  height: 35px;

  position: absolute;

  text-align: center;
  text-decoration: ;
  text-decoration-line: underline;

  top: 475px;
  left: 50px;
  bottom: 0;
  right: 100px;


}

img {
  /* outline: red dashed 1px; */

  display: flex;
  align-self: center;

  max-width: 85%;
  max-height: 85%;

  margin-top: ;
  margin-left: 30px;
  margin-bottom: ;
  margin-right: ;

  border: 1px solid #BFBFBF;
  background-color: rgb(241, 239, 239);
  box-shadow: 10px 10px 5px #aaaaaa;

}

img:hover {
  transition: 0.5s;

  /* transition-duration: 2s; */
  box-shadow: 20px 20px 15px #c1ffc4;
}



#clicks {
  width: fit-content;
  position: relative;
  margin-top: 100px;
  left: 35%;
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 50px;

}

#chart {
  position: relative;
  max-width: 65%;
  margin-left: 15%;
  padding-bottom: 100px;
}